body, h1, h2, h3, ul, li, p, dd, dt, dl {
    margin: 0;
    padding: 0;
}
html.textoMaior {
    font-size: 150%;
}
.azul {
    background: teal;
}
.vermelho {
    background: #E54;
}
img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

body {
    background: #FAF6ED;
    color: #222;
    -webkit-font-smoothing: anitiliased;
    display: grid;
    grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {
    grid-column: 3 / 5;
    margin: 2rem 0;
    background: #fb5;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.menu li a {
    display: block;
    padding: 15px;
    margin-right: 10px;
    color: #222;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    text-transform: uppercase;
    font-size: .875rem;
    letter-spacing: .1em;
}

.grid-section {
    grid-column: 2/4;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    grid-template-columns: 90px 300px 1fr;
    grid-gap: 20px;
    margin-bottom: 4rem;
}

.titulo {
    font-family: 'Playfair Display SC', georgia;
    font-size: 6rem;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 1rem;
    grid-column: 1/4;
}

.animais h2 {
    font-family: 'IBM PLEX MONO', monospace;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 1rem;
    color: #e54;
}

.animais h2::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 10px;
    background: #FB5;
    margin-right: 10px;
}

.animais p {
    font-family: 'Helvetica', arial;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.animais-lista {
    height: 370px;
    overflow-y: scroll;
    grid-column: 2;
}

.animais-lista li {
    cursor: pointer;
}

.animais-lista::-webkit-scrollbar {
    width: 18px;
}

.animais-lista::-webkit-scrollbar-thumb {
    background: #FB5;
    border-left: 4px solid #FAF6ed;
    border-right: 4px solid #FAF6ed;
}

.animais-lista::-webkit-scrollbar-track {
    background: #FAF6ed;
}

.animais-descricao {
    grid-column: 3;
}

.animais-descricao section {
    margin-bottom: 3rem;
}

.faq-lista {
    grid-column: 2 / 4;
}

.faq-lista dt {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: .5rem;
    color: #E54;
}

.faq-lista dt::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    background: #FB5;
}

.faq-lista dd {
    font-family: Helvetica, arial;
    margin-bottom: .5rem;
    margin-left: 30px;
}

.mapa {
    grid-column: 2;
}

.dados {
    grid-column: 3;
}

.dados li {
    margin-bottom: 1rem;
    font-family: Helvetica, Arial;
}


.dados li::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    background: #FB5;
}

.copy {
    grid-column: 3/5;
    margin-bottom: 2rem;
    background: #FB5;
}

.copy p {
    padding: 20px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
}

@media screen  and (max-width: 767px){
    body {
        grid-template-columns: 1fr;
    }
    .menu, .grid-section, .copy {
        grid-column: 1;
    }
    .grid-section {
        grid-template-columns: 100px 1fr;
        grid-gap: 10px;
    }
    .animais-lista {
        grid-column: 1;
    }
    .faq-lista, .dados, .mapa {
        grid-column: 1/3;
    }
    .grid-section h1 {
        font-size: 3rem;
    }
    .menu {
        margin-top: 0;
    }
    .copy {
        margin-bottom: 0;
    }
}

.js .js-tabcontent section {
    display: none;
}

.js .js-tabcontent section.ativo {
    display: block;
    animation: show .5s forwards;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translate3d(-30px, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.js .js-accordion dd {
    display: none;
}

.js-accordion dt::after {
    content: '⬎';
    margin-left: 10px;
}

.js-accordion dt.ativo::after {
    content: '⬏';
}

.js-accordion dd.ativo {
    display: block;
    animation: slideDown .5s forwards;
}

@keyframes slideDown {
    from {
        opacity: 0;
        max-height: 0;
    }
    to {
        opacity: 1;
        max-height: 200px;
    }
}