h1, .content {
    animation: entrar .3s forwards;
}

@keyframes entrar {
    from {
        opacity: 0;
        transform: translate3d(-20px, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}