body {
    background: #000;
}

span {
    color: #FFF;
    font-size: 36px;
    display: inline-block;
    margin: 0 30px;
}

.wrapTime {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}