.modal-container {
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, .5);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container.ativo {
  display: flex;
}

.modal {
  background: #FFF;
  padding: 40px;
  border: 10px solid #FB5;
  box-shadow: 0 0 0 10px #FFF;
  position: relative;
  min-width: 300px;
}

.ativo .modal {
  animation: modal .3s forwards;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fechar-modal {
  width: 50px;
  height: 50px;
  border: 4px solid #FFF;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  right: -30px;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, .3);
  background: #E54;
  font-size: 1.2rem;
  color: #FFF;
  font-family: 'IBM Plex Mono', monospace;
  cursor: pointer;
}

.modal label {
  font-family: 'IBM Plex Mono', monospace;
  display: block;
  font-weight: 700;
  margin: 1rem 0 .5rem 0;
}

.modal input {
  width: 100%;
  padding: .7rem .5rem;
  box-sizing: border-box;
}

.modal button[type="submit"] {
  display: block;
  background: #E54;
  border: none;
  border-radius: 4px;
  padding: .7rem .2rem;
  font-size: 1rem;
  color: #FFF;
  font-family: 'IBM Plex Mono', monospace;
  margin-top: 1rem;
  font-weight: 700;
}
