[data-dropdown] {
  position: relative;
}

[data-dropdown] .dropdown-menu {
  display: none;
}

[data-dropdown].aberto .dropdown-menu,
[data-dropdown]:hover .dropdown-menu {
  display: block;
  animation: show-up .3s forwards;
}

@keyframes show-up {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0)
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.dropdown-menu {
  position: absolute;
  top: 38px;
  background: #E54;
  border: 2px solid #333;
  z-index: 200;
}

.dropdown-menu::before {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  width: 0;
  height: 0;
  border-bottom: 10px solid #E54;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.dropdown-menu li a:hover {
  color: #FFF;

}
