.tooltip {
    position: absolute;
    z-index: 500;
    background: rgba(0, 0, 0, .6);
    box-shadow: 0 0 0 2px #FB5, 0 0 0 6px rgba(0, 0, 0, .6);
    padding: .5rem;
    color: #FFF;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    font-size: .875rem;
    max-width: 175px;
    border-radius: 2px;
}