.grid-numeros {
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.grid-numeros h3 {
    font-size: 2rem;
    font-family: 'Playflair Display SC';
    margin-bottom: .5rem;
}

.grid-numeros span {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    font-size: 1.5rem;
    color: #E54;
}

@media screen and (max-width: 700px) {
    .grid-numeros {
        grid-column: 1;
    }
}