[data-menu="button"] {
    display: none;
}

@media screen and (max-width: 700px) {
    .js [data-menu="button"] {
        display: flex;
        align-items: center;
        background: #222;
        border: none;
        padding: .5rem 1rem;
        border-radius: 4px;
        text-transform: uppercase;
        font-family: 'IBM Plex Mono', monospace;
        font-weight: 700;
        color: #FFF;
        cursor: pointer;
        margin: 10px;
        position: relative;
        z-index: 999;
    }
    .js [data-menu="button"].menu-ativo::before {
        transform: rotate(90deg);
        transition: transform .3s;
        animation: show-right .3s forwards;
    }
    .js [data-menu="button"]::before {
        margin-right: 4px;
        content: '';
        display: inline-block;
        height: 2px;
        width: 12px;
        background: #FFF;
        box-shadow: 0 4px #FFF, 0 -4px #FFF;
    }
    .js [data-menu="button"]::before {
        content: '';
        display: inline-block;
        height: 2px;
    }

    .js #menu {
        display: none;
        position: absolute;
    }

    .js #menu.menu-ativo {
        display: flex;
        flex-direction: column;
        background: #fb5;
        z-index: 99;
        max-width: 160px;
        padding: 0 0 20px 0;
        bottom: 0;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2);
    }
    .js .dropdown-menu {
        position: static;
        border: none;
    }
}